div.panel(data-ng-show='author', data-ng-class='{"panel-info": author.status == "active", "panel-warning": author.status == "paused"}')
    div.panel-heading
        h3.panel-title
            a(data-ng-if='!expanded', data-ui-sref='author({id: author.id})')
                span.author-title {{author.name}}
            span.author-title(data-ng-if='expanded') {{author.name}}
    div.panel-body(data-ng-if='author.description')
        p {{author.description || "No description available"}}
    ul.list-group
        li.list-group-item
            strong Status:
            |  {{author.status | inflector:'humanize'}}
        li.list-group-item
            strong Updated:
            |  {{author.updated | date:'medium'}}
        li.list-group-item(data-ng-if='author.booksCount')
            strong Books:
            |  {{author.booksCount}}
        li.list-group-item(data-ng-if='author.latestBook')
            strong Latest Book:
            a(data-ui-sref='book({id: author.latestBook.id})')  {{author.latestBook.title}} - {{author.latestBook.published | date:'mediumDate'}}
    div.panel-footer(data-ng-if='expanded')
        div.btn-group
            button.btn.btn-default.btn-xs(data-ng-if='author.status == "paused"', data-ng-click='updateStatus("active", author)')
                span.glyphicon.glyphicon-play
                |  Resume
            button.btn.btn-default.btn-xs(data-ng-if='author.status == "active"', data-ng-click='updateStatus("paused", author)')
                span.glyphicon.glyphicon-pause
                |  Pause