
- var panelClassString = '{"panel-success": book.status == "downloaded", "panel-danger": book.status == "wanted", "panel-info": book.status == "snatched", "panel-default": book.status == "skipped", "panel-warning": book.status == "excluded"}';
- var labelClassString = '{"label-success": book.status == "downloaded", "label-danger": book.status == "wanted", "label-info": book.status == "snatched", "label-default": book.status == "skipped", "label-warning": book.status == "excluded"}';

div
    div.panel.book(data-ng-if='!selecting', data-ng-class='#{panelClassString}')
        div.panel-heading
            h3.panel-title
                a(data-ng-if='!expanded', data-ui-sref='book({id: book.id})')
                    span.book-title {{book.title}}
                span.book-title(data-ng-if='expanded') {{book.title}}
        div.panel-body
            span.book-author.text-muted
                small by
                    a(data-ui-sref='author({id: book.authorId})')  {{book.authorName}}
                    |  - {{book.published | date:'mediumDate'}}
            span.label.label-primary.pull-right(data-ng-show='isInFuture(book.published)') Coming Soon
            span.label.pull-right(data-ng-class='#{labelClassString}') {{book.status | inflector:'humanize'}}

            div.media
                img.media-object.pull-left(data-ng-class='{"img-small": !expanded}', data-ng-src='{{(expanded) ? book.image : book.imageSmall}}', alt='{{book.title}} Cover')
                div.media-body.hidden-xs {{(expanded) ? book.description : (book.description | words: 75)}}
                div.media-body.visible-xs {{(expanded) ? (book.description | words: 75) : (book.description | words: 20)}}
        ul.list-group(data-ng-if='expanded')
            li.list-group-item
                strong ISBN:
                |  {{book.isbn}}
            li.list-group-item
                strong Language:
                |  {{book.language}}
            li.list-group-item
                strong Published:
                |  {{book.published | date:'mediumDate'}}
            li.list-group-item
                strong Publisher:
                |  {{book.publisher}}
            li.list-group-item
                strong Page Count:
                |  {{book.pageCount}}
            li.list-group-item
                strong Link:&nbsp;
                a(data-ng-href='{{book.link | dereferrer}}', target='_blank') {{book.provider | inflector:'humanize'}} Page
            li.list-group-item
                strong Updated:
                |  {{book.updated | amCalendar}}
        div.panel-footer
            div.btn-group
                button.btn.btn-default.btn-sm(data-ng-if='buttonVisibility.showRetryNew', data-ng-click='updateStatus("wanted")') Retry
                button.btn.btn-default.btn-sm(data-ng-if='buttonVisibility.showRetryNew', data-ng-click='updateStatus("wanted_new")') New
                button.btn.btn-default.btn-sm(data-ng-if='buttonVisibility.showSkip', data-ng-click='updateStatus("skipped")') Skip
                button.btn.btn-default.btn-sm(data-ng-if='buttonVisibility.showWant', data-ng-click='updateStatus("wanted")') Want
                button.btn.btn-default.btn-sm(data-ng-if='buttonVisibility.showExclude', data-ng-click='updateStatus("excluded")') Exclude

    div.panel.book(data-ng-if='selecting', data-ng-class='#{panelClassString}')
        div.panel-heading
            h3.panel-title
                input(type='checkbox', data-ng-model='book.selected')
                a(data-ui-sref='book({id: book.id})')
                    span.book-title {{book.title}}
                span.text-muted
                    small  by
                a(data-ui-sref='author({id: book.authorId})')
                    span.text-muted
                        small {{book.authorName}}
                span.hidden-xs.published.text-muted.pull-right {{book.published | date:'mediumDate'}}
                span.label.pull-right.label-primary(data-ng-show='isInFuture(book.published)') Coming Soon
                span.hidden-xs.status.label.pull-right(data-ng-class='#{labelClassString}') {{book.status | inflector:'humanize'}}