div.modal-header
    h3 Confirm
div.modal-body
    p {{message}}
div.modal-footer
    button.btn.btn-sm.btn-warning(data-ng-click='ok()') OK
    button.btn.btn-sm.btn-default(data-ng-click='cancel()') Cancel