div.panel(data-ng-class='{"panel-success": release.status == "downloaded", "panel-danger": release.status == "wanted", "panel-info": release.status == "snatched", "panel-default": release.status == "available", "panel-warning": release.status == "ignored"}')
    div.panel-heading
        h3.panel-title
            button.btn.btn-link(data-ng-click='collapsed=!collapsed')
                span.glyphicon.glyphicon-collapse-down(data-ng-show='collapsed')
                span.glyphicon.glyphicon-collapse-up(data-ng-show='!collapsed')
            a(data-ng-href='{{release.link}}') {{release.title}}

    ul.list-group(data-ng-hide='collapsed')
        li.list-group-item
            span.label.pull-right(data-ng-class='{"label-success": release.status == "downloaded", "label-danger": release.status == "wanted", "label-info": release.status == "snatched", "label-default": release.status == "available", "label-warning": release.status == "ignored"}')  {{release.status | inflector:'humanize'}}
            strong Grabs:
            |  {{release.grabs}}
        li.list-group-item
            strong Provider:
            |  {{release.providerType | inflector:'humanize'}} - {{release.providerName}}
        li.list-group-item
            strong Date:
            |  {{release.usenetDate | date:'medium'}}
        li.list-group-item
            strong Size:
            |  {{release.size / 1024 | number:0}}kb
        li.list-group-item
            strong Directory:
            |  {{release.directory || 'Not processed'}}
        li.list-group-item
            strong Updated:
            |  {{release.updated | date:'medium'}}
    div.panel-footer
        div.btn-group
            button.btn.btn-default.btn-sm(data-ng-click='updateStatus("wanted", release)') Download
            button.btn.btn-default.btn-sm(data-ng-if='release.status != "ignored"', data-ng-click='updateStatus("ignored")') Ignore
            button.btn.btn-default.btn-sm(data-ng-if='release.status == "ignored"', data-ng-click='updateStatus("available")') Un-ignore