.idea/
/dist/
/cache/
/components/
/bower_components/
/build/
atlassian-ide-plugin.xml
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.db
*.log
*.bak
/config/*.json
pids
/logs
/results
node_modules/
