div.page-header.hidden-xs
    h1 All
        small authors
div(data-ng-controller='AuthorListCtrl')
    div.row.list-controls(data-ng-show='authors && authors.length')
        div.col-sm-4
            pagination.pagination-sm(data-total-items='totalItems', data-page='currentPage', data-items-per-page='limit', data-max-size='maxSize', boundary-links='true')
        div.col-sm-3.hidden-xs
            span.animate(data-ng-hide='selecting') {{ prePagedAuthors.length }} {{(filtering) ? 'filtered' : 'total'}} authors
            span.animate(data-ng-show='selecting') {{ totalSelected }} / {{ prePagedAuthors.length }} selected {{(filtering) ? 'filtered' : 'total'}} authors
        div.col-sm-5
            div(data-bw-list-toolbar, data-predicate='predicate', data-reverse='reverse', data-type='"author"', data-filtering='filtering', data-on-open-filter='openFilter()', data-selecting='selecting', data-ignore-status='ignoreStatus', data-statuses='statuses', data-on-toggle-select-all='toggleSelectAll(allSelected)', data-show-ignore-status='showIgnoreStatus', data-on-set-selected='setSelected(status)')
    div.row
        div.col-sm-12.animate(data-ng-repeat='author in filteredAuthors = (prePagedAuthors = (authors | orderBy:predicate:reverse | filter:filterObject | filter:authorFilter) | page:currentPage:limit)')
            div(data-bw-author, data-author='author', data-expanded='false', data-selecting='selecting')
        div.col-sm-12(data-ng-hide='authors && authors.length')
            p You have no authors! Go
                a(data-ui-sref='search')  search
                |  for some!