div.page-header.hidden-xs
    h1 All
        small authors
div(data-ng-controller='AuthorListCtrl')
    div.row.list-controls(data-ng-show='authors && authors.length')
        div.col-sm-5
            pagination(data-total-items='totalItems', data-page='currentPage', data-items-per-page='limit', data-max-size='maxSize', boundary-links='true')
        div.col-sm-2
            span.animate(data-ng-if='selecting') {{ totalSelected }} / {{ authors.length }} selected
        div.col-sm-5
            div(data-bw-list-toolbar, data-selecting='selecting', data-ignore-status='ignoreStatus', data-statuses='statuses', data-on-toggle-select-all='toggleSelectAll(allSelected)', data-show-ignore-status='showIgnoreStatus', data-on-set-selected='setSelected(status)')
    div.row
        div.col-sm-12.animate(data-ng-repeat='author in filteredAuthors = (authors | orderBy:"updated":true | filter:authorFilter | page:currentPage:limit)')
            div(data-bw-author, data-author='author', data-expanded='false', data-selecting='selecting')
        div.col-sm-12(data-ng-hide='authors && authors.length')
            p You have no authors! Go
                a(data-ui-sref='search')  search
                |  for some!