div.page-header.hidden-xs
    h1 {{author.name}}
        small {{author.status | inflector:"humanize"}}

div(data-bw-author, data-author='author', data-expanded='true')
div(data-ng-show='books && books.length')
    div(data-ng-repeat='book in books', data-bw-book, data-book='book', data-expanded='false')
div(data-ng-hide='books && books.length')
    p {{author.name}} doesn't have any books right now....