!!!5

html(data-ng-app='bookworm')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        title= 'bookworm'
        link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/components/angular-toaster/toaster.css')
        link(rel='stylesheet', href='/components/ngprogress-lite/ngprogress-lite.css')
        link(rel='stylesheet', href='/components/animate.css/animate.css')
        link(rel='stylesheet', href='/css/bookworm.css')
        block head
    body
        block nav

        div.container
            block view

        block footer

        script(type='text/javascript').
            var bookworm = {
                apiKey: "#{apiKey}"
            };
            
        script(type='text/javascript', src='/components/jquery/jquery.js')
        script(type='text/javascript', src='/components/lodash/lodash.js')
        script(type='text/javascript', src='/components/moment/moment.js')
        script(type='text/javascript', src='/components/socket.io-client/socket.io.js')
        script(type='text/javascript', src='/components/bootstrap/js/bootstrap.js')
        script(type='text/javascript', src='/components/angular/angular.js')
        script(type='text/javascript', src='/components/restangular/restangular.js')
        script(type='text/javascript', src='/components/angular-animate/angular-animate.js')
        script(type='text/javascript', src='/components/angular-ui-router/angular-ui-router.js')
        script(type='text/javascript', src='/components/angular-bootstrap/ui-bootstrap.js')
        script(type='text/javascript', src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript', src='/components/angular-ui-utils/route/route.js')
        script(type='text/javascript', src='/components/angular-ui-utils/inflector/inflector.js')
        script(type='text/javascript', src='/components/angular-ui-utils/event/event.js')
        script(type='text/javascript', src='/components/angular-ui-utils/format/format.js')
        script(type='text/javascript', src='/components/angular-ui-utils/validate/validate.js')
        script(type='text/javascript', src='/components/angular-moment/angular-moment.js')
        script(type='text/javascript', src='/components/ngprogress-lite/ngprogress-lite.js')
        script(type='text/javascript', src='/components/angular-storage/ngStorage.js')
        script(type='text/javascript', src='/components/angular-truncate/angular-truncate.js')
        script(type='text/javascript', src='/components/angular-socket-io/socket.js')
        script(type='text/javascript', src='/components/angular-toaster/toaster.js')
        script(type='text/javascript', src='/components/json-mask/jsonMask.js')
        script(type='text/javascript', src=(env === 'development') ? '/js/bookworm.js' : '/js/bookworm.min.js')