div.page-header.hidden-xs
    h1 {{book.title}}
        small  by {{book.authorName}}

div(data-bw-book, data-book='book', data-expanded='true')

h3 Releases
div(data-ng-repeat='release in releases', data-bw-release, data-release='release')
div(data-ng-hide='releases.length')
    p No releases loaded yet, try marking the book as wanted.