div.container
    div.row
        div.col-md-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title panel title
                div.panel-body
                    p Some panel text
        div.col-md-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title panel title
                div.panel-body
                    p Some panel text
        div.col-md-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title panel title
                div.panel-body
                    p Some panel text
