div.page-header.hidden-xs
    h1 Book
        small results
div.animate(data-ng-repeat='book in results', data-bw-search-book, data-book='book')

div(data-ng-hide='results && results.length')
    p Did not find any results, sorry.