.ngProgressLiteBar
  z-index 9998



table.logs td
  font-family Lucida Console,Monaco,Nimbus Mono L
  font-size 11px

table.logs td.level
  font-size 12px

.dot-under
  border-bottom 1px dotted #999


.book .media img
  width 128px

.book .media img.img-small
  width: 61px

