
/** Mixins **/
animation()
  -webkit-animation: arguments;
  -moz-animation: arguments;
  -ms-animation: arguments;
  animation: arguments;


panel(borderColor, backgroundColor)
  textColor = #fff
  border-color borderColor
  > .panel-heading
    color textColor
    background-color backgroundColor
    border-color borderColor
    > .dropdown .caret
      border-color #fff transparent
  > .panel-heading + .panel-collapse .panel-body
    border-top-color borderColor
  > .panel-footer + .panel-collapse .panel-body
    border-bottom-color borderColor

.panel-test
  panel(red, blue)

.navbar-brand .brand-emphasis
  color #FFA500

.ngProgressLiteBar
  z-index 9998

table.logs
  td
    font-family Lucida Console,Monaco,Nimbus Mono L
    font-size 11px
    &.level
      font-size 12px
  tr.log-error
    color #ff4548

.dot-under
  border-bottom 1px dotted #999

.book, .author
  .media
    img
      width 128px
      &.img-small
        width 61px
  input[type='checkbox']
    margin-right 5px
  .published, .updated
      width 120px
      text-align right

.animate
  &.ng-enter
    animation fadeIn 0.5s

  &.ng-leave
    animation fadeOut 0.5s

.pagination
  margin 0
  a
    cursor: pointer

.list-controls
  margin-bottom 5px
.list-toolbar .form-control
  height 30px

.label
  margin auto 3px

