include includes/nav

div.page-header.hidden-xs
    h1 Settings
        small general
form.form-horizontal(role='form', name='generalForm')
    fieldset
        div.col-sm-6
            legend Server*
            div.form-group
                label.col-sm-3.control-label(for='server-host') Host
                div.col-sm-9
                    input.form-control(type='text', placeholder='0.0.0.0', data-ng-model='settings.server.host', id='server-host', data-bw-setting)
                    span.help-block The host the server will listen on. 0.0.0.0 for any.
            div.form-group
                label.col-sm-3.control-label(for='server-port') Port
                div.col-sm-9
                    input.form-control(type='number', placeholder='30000', data-ng-model='settings.server.port', id='server-port', data-bw-setting)
                    span.help-block The port to listen on.
            div.form-group
                label.col-sm-3.control-label(for='server-username') Username
                div.col-sm-9
                    input.form-control(type='text', data-ng-model='settings.server.username', id='server-username', data-bw-setting)
                    span.help-block Username for authentication, if blank, no authentication.
            div.form-group
                label.col-sm-3.control-label(for='server-password') Password
                div.col-sm-9
                    input.form-control(type='password', data-ng-model='settings.server.password', id='server-password', data-bw-setting)
                    span.help-block Password if using authentication.
            div.form-group
                label.col-sm-3.control-label(for='server-apiKey') API Key
                div.col-sm-9
                    input.form-control(type='text', data-ng-model='settings.server.apiKey', id='server-apiKey', data-bw-setting, required, data-invalid-text='API Key is required')
                    span.help-block API Key for restricting API access.
                    button.btn.btn-defualt.btn-sm(data-ng-click='generateApiKey()') Generate Key
        div.col-sm-6
            legend Logging - Console
            div.form-group
                label.col-sm-3.control-label(for='loggers-console-debug') Debug Logging
                div.checkbox.col-sm-9
                    input(type='checkbox', value='', data-ng-model='settings.loggers.console.debug', id='loggers-console-debug', data-bw-setting)
                    span.text-muted {{ (settings.loggers.console.debug) ? 'Debug logging is enabled' : 'Enable debug logging?'}}
            legend Logging - File
            div.form-group
                label.col-sm-3.control-label(for='loggers-file-enabled') File Logging
                div.checkbox.col-sm-9
                    input(type='checkbox', value='', data-ng-model='settings.loggers.file.enabled', id='loggers-file-enabled', data-bw-setting)
                    span.text-muted {{ (settings.loggers.file.enabled) ? 'File logging is enabled' : 'Enable file logging?'}}
            div(data-ng-show='settings.loggers.file.enabled')
                div.form-group
                    label.col-sm-3.control-label(for='loggers-file-debug') Debug Logging
                    div.checkbox.col-sm-9
                        input(type='checkbox', value='', data-ng-model='settings.loggers.file.debug', id='loggers-file-debug', data-bw-setting)
                        span.text-muted {{ (settings.loggers.file.debug) ? 'Debug logging is enabled' : 'Enable debug logging?'}}
                div.form-group
                    label.col-sm-3.control-label(for='loggers-file-path') File Path
                    div.col-sm-9
                        input.form-control(type='text', placeholder='logs/bookworm.log', data-ng-model='settings.loggers.file.path', id='loggers-file-path', data-bw-setting)
                        span.help-block Absolute or relative (to the app directory) path for the log file.
p.pull-right * Restart Required