include includes/nav
div.page-header.hidden-xs
    h1 Settings
        small notify
form.form-horizontal(role='form', data-ng-controller='NotificationCtrl')
    fieldset
        div.col-sm-6
            legend Notify My Android
            div.form-group
                label.col-sm-3.control-label(for='notifiers-nma-enabled') NMA
                div.checkbox.col-sm-9
                    input(type='checkbox', value='', data-ng-model='settings.notifiers.nma.enabled', id='notifiers-nma-enabled', data-bw-setting)
                    span.text-muted Enable notifying with Notify My Android?
            div(data-ng-show='settings.notifiers.nma.enabled')
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-nma-apiKey') API Key
                    div.col-sm-9
                        input.form-control(type='text', placeholder='123xyz', data-ng-model='settings.notifiers.nma.apiKey', id='notifiers-nma-apiKey', data-bw-setting)
                        span.help-block Your NMA API Key
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-nma-onSnatch') Snatch
                    div.checkbox.col-sm-9
                        input(type='checkbox', value='', data-ng-model='settings.notifiers.nma.onSnatch', id='notifiers-nma-onSnatch', data-bw-setting)
                        span Notify on snatch?
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-nma-onDownload') Download
                    div.checkbox.col-sm-9
                        input(type='checkbox', value='', data-ng-model='settings.notifiers.nma.onDownload', id='notifiers-nma-onDownload', data-bw-setting)
                        span Notify on download?
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-nma-priority') Priority
                    div.col-sm-9
                        select.form-control(data-ng-model='settings.notifiers.nma.priority', data-ng-options='priority.value as priority.name for priority in nmaPriorities', id='notifiers-nma-priority', data-bw-setting)
                        span.help-block Notify My Android Priority
                div.form-group
                    div.col-sm-6.col-sm-offset-3
                        button.btn.btn-default(data-ng-click='notify("nma")') Test
            legend Pushover
            div.form-group
                label.col-sm-3.control-label(for='notifiers-pushover-enabled') Pushover
                div.checkbox.col-sm-9
                    input(type='checkbox', value='', data-ng-model='settings.notifiers.pushover.enabled', id='notifiers-pushover-enabled', data-bw-setting)
                    span.text-muted Enable notifying with Pushover?
            div(data-ng-show='settings.notifiers.pushover.enabled')
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-pushover-apiKey') API Key
                    div.col-sm-9
                        input.form-control(type='text', placeholder='123xyz', data-ng-model='settings.notifiers.pushover.apiKey', id='notifiers-pushover-apiKey', data-bw-setting)
                        span.help-block Your Pushover API Key for Bookworm. Create your own Pushover application.
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-pushover-userKey') User Key
                    div.col-sm-9
                        input.form-control(type='text', placeholder='123xyz', data-ng-model='settings.notifiers.pushover.userKey', id='notifiers-pushover-userKey', data-bw-setting)
                        span.help-block Your Pushover User Key
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-pushover-onSnatch') Snatch
                    div.checkbox.col-sm-9
                        input(type='checkbox', value='', data-ng-model='settings.notifiers.pushover.onSnatch', id='notifiers-pushover-onSnatch', data-bw-setting)
                        span Notify on snatch?
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-pushover-onDownload') Download
                    div.checkbox.col-sm-9
                        input(type='checkbox', value='', data-ng-model='settings.notifiers.pushover.onDownload', id='notifiers-pushover-onDownload', data-bw-setting)
                        span Notify on download?
                div.form-group
                    label.col-sm-3.control-label(for='notifiers-pushover-priority') Priority
                    div.col-sm-9
                        select.form-control(data-ng-model='settings.notifiers.pushover.priority', data-ng-options='priority.value as priority.name for priority in pushoverPriorities', id='notifiers-pushover-priority', data-bw-setting)
                        span.help-block Pushover Priority
                div.form-group
                    div.col-sm-6.col-sm-offset-3
                        button.btn.btn-default(data-ng-click='notify("pushover")') Test

