div.page-header.hidden-xs
    h1 Logs
        small whats going on?
pagination.pagination-sm(data-on-select-page='onSelectPage(page)', data-max-size='5', data-boundary-links='true', data-total-items='totalItems', data-page='currentPage', data-items-per-page='limit')
div.table-responsive
    table.table.table-condensed.table-hover.logs
        thead
            tr
                th(style='width:18%;') Time
                th(style='width:4%;') Level
                th Message
        tfoot
        tbody
            tr.animate(data-ng-repeat='log in logs', data-ng-class='"log-" + log.level')
                td.time {{log.date | date:'medium'}}
                td.level {{log.levelName}}
                td.message(data-ng-mouseover='hoverIndex = $index', data-ng-mouseout='hoverIndex = -1')
                    span {{log.args | joinWithObjects:" "}}