div.page-header.hidden-xs
    h1 Logs
        small whats going on?
pager(data-total-items='totalItems', data-page='currentPage', on-select-page='onSelectPage(page)')
div.table-responsive
    table.table.table-condensed.table-hover.logs
        thead
            tr
                th(style='width:18%;') Time
                th(style='width:4%;') Level
                th Message
        tfoot
        tbody
            tr.animate(data-ng-repeat='log in logs', data-ng-class='"log-" + log.level')
                td.time {{log.timestamp | date:'medium'}}
                td.level {{log.level}}
                td.message(data-ng-mouseover='hoverIndex = $index', data-ng-mouseout='hoverIndex = -1')
                    span {{log.message}}
                    span.data(data-ng-class='{"focus": hoverIndex == $index}') {{log.data}}